@model ServiceBusMonitor.Areas.Client.Models.MonitorViewModel
@{
    ViewData["Title"] = $"{Model?.ActiveBus} - Service Bus Monitor";
}

<nav class="navbar fixed-top">
    <div class="d-flex align-items-center navbar-left">
        <span class="menu-button d-block">
            <img src="~/img/logo-small.png" style="width: 50px;">
        </span>

        <h3><b>@Model?.ActiveBus</b></h3>
    </div>

    <div class="navbar-right">
        <div class="user d-inline-block">
            Last update:
            <span
                class="auto-update"
                id="last-update"
                data-show-loader-icon="1"
                data-url="@Url.Action("Update", "Updater", new { area = "Api" })"
                data-timeout="10000"></span>
        </div>
    </div>
</nav>
<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                @foreach (var busName in Model.ServiceBusNames)
                {
                    <li class="@(busName.Equals(Model?.ActiveBus ?? string.Empty) ? "active" : "")">
                        <a asp-area="Client" asp-controller="Monitor" asp-action="Index" asp-route-bus="@busName">
                            <i class="fa fa-bus fa-3x"></i> @busName
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-tasks"></i> Queues</h5>

                        <!-- todo: <table class="table table-sm table-striped caption-top"> -->
                        <div
                            id="bus-queues"
                            class="auto-update scroll dashboard-logs ps ps--active-y"
                            data-has-callback="1"
                            data-url="@Url.Action("Queues", "Bus", new { area = "Api", busName = Model.ActiveBus })"
                            data-timeout="5000"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-book"></i> Topics</h5>
                        
                        <!-- todo: <table class="table table-sm table-striped table-hover caption-top"> -->
                        <div
                            id="bus-topics"
                            class="auto-update scroll dashboard-logs ps ps--active-y"
                            data-has-callback="1"
                            data-url="@Url.Action("Topics", "Bus", new { area = "Api", busName = Model.ActiveBus })"
                            data-timeout="5000"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-4" id="dlq-messages-holder">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-comment"></i> DLQ Messages</h5>
                        
                        <!-- todo: <table class="table table-sm table-striped table-hover caption-top"> -->
                        <div class="table-responsive holder-content scroll dashboard-messages"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-4" id="dlq-message-ai-logs-holder">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-bar-chart"></i> Application Insights logging</h5>
                        
                        <!-- todo: <table class="table table-sm table-striped caption-top"> -->
                        <div class="table-responsive holder-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="debug-bar-holder default-transition">
    <div class="p-3 scroll" style="overflow-y: scroll; height: 100vh;">
        <p class="text-muted mb-2">
            <b><i class="fa fa-laptop"></i> Debug Console</b>
        </p>
        <hr />
        <p><b>[hh:mm:ss]</b> Debug console is not implemented yet :-)</p>
    </div>
    <span class="debug-bar-button"><i class="fa fa-user-secret"></i></span>
</div>

@section Scripts {
    <script>
        var endpoints = new Endpoints();
        endpoints.lastUpdate = "@Url.Action("Update", "Updater", new { area = "Api" })";
        endpoints.queues = "@Url.Action("Queues", "Bus", new { area = "Api", busName = Model.ActiveBus })";
        endpoints.topics = "@Url.Action("Topics", "Bus", new { area = "Api", busName = Model.ActiveBus })";
        endpoints.dlqMessagesOnQueue = "@Url.Action("DlqMessagesOnQueue", "Bus", new { area = "Api" })";
        endpoints.dlqMessagesOnTopic = "@Url.Action("DlqMessagesOnTopic", "Bus", new { area = "Api" })";
        endpoints.exceptionLogs = "@Url.Action("GetExceptionLogs", "ApplicationInsights", new { area = "Api" })";
        endpoints.actionRemoveDlqMessageFromQueue = "@Url.Action("RemoveDlqMessageFromQueue", "Bus", new { area = "Api" })";
        endpoints.actionRemoveDlqMessageFromTopicSubscription = "@Url.Action("RemoveDlqMessageFromTopicSubscription", "Bus", new { area = "Api" })";
        endpoints.actionResubmitDlqMessageToQueue = "@Url.Action("ResubmitDlqMessageToQueue", "Bus", new { area = "Api" })";
        endpoints.actionResubmitDlqMessageToTopicSubscription = "@Url.Action("ResubmitDlqMessageToTopicSubscription", "Bus", new { area = "Api" })";

        var sb = new ServiceBusMonitor(new ServiceBusOptions('@(Model.ActiveBus)', endpoints));
    
        $(function() {
            sb.init();
        });
    </script>
}