@model ServiceBusMonitor.Areas.Client.Models.MonitorViewModel
@{
    ViewData["Title"] = $"{Model?.ActiveBus} - Service Bus Monitor";
}

<p>Service bus names:</p>
<ul>
    @foreach (var busName in Model.ServiceBusNames)
    {
        <li><a asp-area="Client" asp-controller="Monitor" asp-action="Index" asp-route-bus="@busName">@busName</a></li>
    }
</ul>

<p>
    Last update:
    <span id="last-update"></span>
</p>

<p>Queues:</p>
<div id="bus-queues"></div>

<p>Topics:</p>
<div id="bus-topics"></div>
    
<div id="dlq-messages-holder">
    <p>DLQ Messages</p>
    <div id="dlq-messages"></div>
</div>
    
<div id="dlq-message-ai-logs-holder">
    <p>Application Insights logging</p>
    <div id="dlq-message-ai-logs"></div>
</div>

@section Scripts {
<script>
    var endpoints = new Endpoints();
    endpoints.lastUpdate = "@Url.Action("Update", "Updater", new { area = "Api" })";
    endpoints.queues = "@Url.Action("Queues", "Bus", new { area = "Api", busName = Model.ActiveBus })";
    endpoints.topics = "@Url.Action("Topics", "Bus", new { area = "Api", busName = Model.ActiveBus })";
    endpoints.dlqMessagesOnQueue = "@Url.Action("DlqMessagesOnQueue", "Bus", new { area = "Api" })";
    endpoints.dlqMessagesOnTopic = "@Url.Action("DlqMessagesOnTopic", "Bus", new { area = "Api" })";
    endpoints.exceptionLogs = "@Url.Action("GetExceptionLogs", "ApplicationInsights", new { area = "Api" })";
    endpoints.actionRemoveDlqMessageFromQueue = "@Url.Action("RemoveDlqMessageFromQueue", "Bus", new { area = "Api" })";
    endpoints.actionRemoveDlqMessageFromTopicSubscription = "@Url.Action("RemoveDlqMessageFromTopicSubscription", "Bus", new { area = "Api" })";

    var sb = new ServiceBusMonitor(new ServiceBusOptions('@(Model.ActiveBus)', endpoints));
    
    $(function() {
        sb.init();
    });
</script>
}